<body>
    <ul>
        <li style="--i:6; --clr:#1877f2;"><a href="#"><span><fa-icon [icon]="faFacebook"></fa-icon></span>Facebook</a></li>
        <li style="--i:5; --clr:#25d366;"><a href="#"><span><fa-icon [icon]="faWhatsApp"></fa-icon></span>WhatsApp</a></li>
        <li style="--i:4; --clr:#1da1f2;"><a href="#"><span><fa-icon [icon]="faTwitter"></fa-icon></span>Twitter</a></li>
        <li style="--i:3; --clr:#c32aa3;"><a href="#"><span><fa-icon [icon]="faInstagram"></fa-icon></span>Instagram</a></li>
        <li style="--i:2; --clr:#ff0000;"><a href="#"><span><fa-icon [icon]="faYouTube"></fa-icon></span>YouTube</a></li>
        <li style="--i:1; --clr:#0a66c2;"><a href="#"><span><fa-icon [icon]="faLinkedIn"></fa-icon></span>LinkedIn</a></li>
    </ul>
</body>