<body>
    <div class="container">
        <div class="text" style="--j:0;">
            <span style="--i:0">P</span>
            <span style="--i:1">F</span>
            <span style="--i:2">L</span>
            <span style="--i:3">F</span>
        </div>

        <div class="text" style="--j:1">
            <span style="--i:0">I</span>
            <span style="--i:1">I</span>
            <span style="--i:2">O</span>
            <span style="--i:3">I</span>
        </div>

        <div class="text" style="--j:2">
            <span style="--i:0">C</span>
            <span style="--i:1">N</span>
            <span style="--i:2">V</span>
            <span style="--i:3">N</span>
        </div>

        <div class="text" style="--j:3">
            <span style="--i:0">P</span>
            <span style="--i:1">T</span>
            <span style="--i:2">E</span>
            <span style="--i:3">T</span>
        </div>

        <div class="text" style="--j:4">
            <span style="--i:0">A</span>
            <span style="--i:1">E</span>
            <span style="--i:2">R'</span>
            <span style="--i:3">E</span>
        </div>
        <div class="text" style="--j:5">
            <span style="--i:0">Y</span>
            <span style="--i:1">C</span>
            <span style="--i:2">S</span>
            <span style="--i:3">C</span>
        </div>
    </div>
</body>